html, body {
    background-color: #222;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

svg {
    width: 100vw;
    height: 100vh;
}

.link { 
    stroke: #999; 
    stroke-opacity: 0.6; 
    stroke-width: 2px; 
}

.node circle { 
    stroke: #fff; 
    stroke-width: 1.5px; 
}

text { 
    font-family: sans-serif; 
    fill: white; 
    pointer-events: none; 
    text-shadow: 0 1px 2px black; 
}